<footer class="footer mt-auto bg-dark text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-1">
        <img src="assets/one-piece-footer.png" alt="one-piece-footer" width="50">
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center mt-2">
        <div class="d-flex align-items-center">
          <span class="fs-6 text-white fst-italic me-2">Visit our GitHub repository!</span>
        </div>
        <a href="{{ repository }}" target="_blank">
          <img src="assets/github-logo.png" alt="GitHub" width="30" height="30">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-12 mt-3">
        <p>&copy; {{ currentYear }} OnePiece Desk</p>
      </div>
    </div>
  </div>
</footer>