<app-header [headerTitle]="'Pirates'"></app-header>
<div class="container-fluid">
  <p class="lead text-center mt-4">Explore the adventurous world of One Piece with these legendary pirates.</p>
  <div class="content-center">
    <figure class="card" *ngFor="let pirate of pirates.slice(startIndex, endIndex)">
      <img src="{{pirate.image}}" alt="{{pirate.name}}" />
      <figcaption>
        <h3>{{pirate.name}}<span>{{pirate.lastname ?? pirate.nickname}}</span></h3>
        <button class="btn btn-info mt-2">
          <span (click)="openPirateModal(pirate)" class="text-light fw-bold fs-6">See more</span>
        </button>
      </figcaption>
    </figure>
  </div>
  <app-paginator (currPageChanged)="handleCurrPageChanged($event)" [currentPage]="currentPage"
    [cardsPerPage]="cardsPerPage" [cardsLength]="cardsLength"></app-paginator>
</div>