<div class="row">
  <div class="col-md-12">
    <div class="image-container">
      <img [src]="pirate.image" alt="{{ pirate.name }}" class="img-fluid" />
    </div>
  </div>
  <div class="col-md-12">
    <h5 class="text-center my-3">Character Information</h5>
    <div class="table-wrapper">
      <table class="fl-table">
        <thead>
          <tr>
            <th>Name</th>
            <th *ngIf="pirate.lastname">Lastname</th>
            <th>Nickname</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ pirate.name | titlecase }}</td>
            <td *ngIf="pirate.lastname">{{ pirate.lastname | titlecase }}</td>
            <td>{{ pirate.nickname | titlecase }}</td>
            <td><span class="fst-italic">{{ pirate.age }}</span></td>
          </tr>
        <tbody>
      </table>
    </div>
    <hr>
    <h5 class="text-center">Description</h5>
    <p class="text-muted text-justify">{{ pirate.description }}</p>
  </div>
</div>
</div>