<app-header [headerTitle]="'Ships'"></app-header>
<div class="container-fluid">
  <p class="lead text-center mt-4">Explore the adventurous world of One Piece with these legendary ships.</p>
  <div class="content-center">
    <figure class="card" *ngFor="let ship of ships.slice(startIndex, endIndex)">
      <img src="{{ship.image}}" alt="{{ship.name}}" />
      <figcaption>
        <h3><span>{{ship.name}}</span></h3>
        <button class="btn btn-info mt-2">
          <span (click)="openShipModal(ship)" class="text-light fw-bold fs-6">See more</span>
        </button>
      </figcaption>
    </figure>
  </div>
  <app-paginator (currPageChanged)="handleCurrPageChanged($event)" [currentPage]="currentPage"
    [cardsPerPage]="cardsPerPage" [cardsLength]="cardsLength"></app-paginator>
</div>